<!doctype html>
<html>

<head>
    <title>Add GPU</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
</head>

<body>
    <h1>Welcome to GPU Database</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
		<hr>
		{% if user_data %}
		<div align="center">
			<table class="table" style="width: 40%;">
				<tr class="table-success">
					<td>Name: {{ user_data['name'] }}</td>
					<td colspan="2">Email: {{ user_data['email'] }}</td>
				</tr>
				<tr>
					<td>
						<form class="form" action="/add_gpu" method="post">
							<input type="submit" class="btn btn-warning form-control" name="add_gpu" value="ADD GPU"/>
						</form>
					</td>
					<td>
						<form class="form" action="/compare" method="post">
							<input type="submit" class="btn btn-warning form-control" value="Compare 2 GPU's"/>
						</form>
					</td>
                    <td>
                        <form action="/" method="GET">
                            <input type="submit" class="btn btn-warning form-control" value="Back to Home">
                        </form>
                    </td>
				</tr>
			</table>
		</div>
		<hr>
        <div align="center">
            <h3>Add GPU</h3>
        </div>
        <div align="center">
            <table class="table table-sm" style="width: 40%;">
                <form action="/add_gpu_to_datastore" method="post">
                    <tr>
                        <td>GPU Name:</td>
                        <td><input type="text" class="form-control" name="gpu_name" placeholder="GPU Name"></td>
                    </tr>
                    <tr>
                        <td>GPU Manufacturer: </td>
                        <td><input type="text" class="form-control" name="manufacturer" placeholder="GPU Manufacturer"></td>
                    </tr>
                    <tr>
                        <td>Issue Date: </td>
                        <td><input type="date" class="form-control" name="issue_date" placeholder="Issue Date"></td>
                    </tr>
                    <tr>
                        <td>Geometry Shader:</td>
                        <td>
                            <select class="form-control" name="geometryShader">
                                <option selected>True</option>
                                <option>False</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Tesselation Shader:</td>
                        <td>
                            <select class="form-control" name="tesselationShader">
                                <option selected>True</option>
                                <option>False</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>ShaderInt16:</td>
                        <td>
                            <select class="form-control" name="shaderInt16">
                                <option selected>True</option>
                                <option>False</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Sparse Binding:</td>
                        <td>
                            <select class="form-control" name="sparseBinding">
                                <option selected>True</option>
                                <option>False</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Texture Compression ETC2:</td>
                        <td>
                            <select class="form-control" name="textureCompressionETC2">
                                <option selected>True</option>
                                <option>False</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Vertex Pipeline Stores And Atomics:</td>
                        <td>
                            <select class="form-control" name="vertexPipelineStoresAndAtomics">
                                <option selected>True</option>
                                <option>False</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-info form-control" value="ADD GPU" name="button"/>
                        </td>
                    </tr>
                    
                </form>
            </table>
        </div>
		<br/>
		{% elif error_message %}
		<p>Please Login again to add GPU</p>
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>