<!doctype html>
<html>

<head>
    <title>GPU Details</title>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
</head>

<body>
    <h1>GPU Details</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
		{% if user_data %}
            <dl>
                <dt>Name:</dt><dd>{{ user_data['name'] }}</dd>
                <dt>Email:</dt><dd>{{ user_data['email'] }}</dd>
            </dl>
            <form action="/update_details" method="POST">
                <input type="hidden" name="old_name" value="{{gpu_data['name'] }}">
                <input type="text" name="name" value="{{ gpu_data['name'] }}"><br>
                <input type="text" name="manufacturer" value="{{ gpu_data['manufacturer'] }}"><br>
                <input type="date" name="issue_date" value="{{ gpu_data['issued_date'] }}"><br>
                <dt>Geometry Shader: </dt>
                <dd><select name="geometryShader" id="geometryShader">
                    <option>True</option>
                    <option>False</option>
                </select></dd>
                <dt>Tesselation Shader: </dt>
                <dd><select name="tesselationShader" id="tesselationShader">
                    <option>True</option>
                    <option>False</option>
                </select></dd>
                <dt>ShaderInt16: </dt>
                <dd><select name="shaderInt16" id="shaderInt16">
                    <option>True</option>
                    <option>False</option>
                </select></dd>
                <dt>Sparse Binding: </dt>
                <dd><select name="sparseBinding" id="sparseBinding">
                    <option>True</option>
                    <option>False</option>
                </select></dd>
                <dt>Texture Compression ETC2: </dt>
                <dd><select name="textureCompressionETC2" id="textureCompressionETC2">
                    <option>True</option>
                    <option>False</option>
                </select></dd>
                <dt>Vertex Pipeline Stores And Atomics</dt>
                <dd><select name="vertexPipelineStoresAndAtomics" id="vertexPipelineStoresAndAtomics">
                    <option selected>True</option>
                    <option>False</option>
                </select></dd>
                <input type="submit" value="UPDATE">
            </form>
            {% if gpu_data['geometryShader'] == "True" %}
                <script> document.getElementById("geometryShader").selectedIndex  = 0;</script>
            {% else %}
                <script> document.getElementById("geometryShader").selectedIndex  = 1;</script>
            {% endif %}
            {% if gpu_data['tesselationShader'] == "True" %}
                <script> document.getElementById("tesselationShader").selectedIndex  = 0;</script>
            {% else %}
                <script> document.getElementById("tesselationShader").selectedIndex  = 1;</script>
            {% endif %}
            {% if gpu_data['shaderInt16'] == "True" %}
                <script> document.getElementById("shaderInt16").selectedIndex  = 0;</script>
            {% else %}
                <script> document.getElementById("shaderInt16").selectedIndex  = 1;</script>
            {% endif %}
            {% if gpu_data['sparseBinding'] == "True" %}
                <script> document.getElementById("sparseBinding").selectedIndex  = 0;</script>
            {% else %}
                <script> document.getElementById("sparseBinding").selectedIndex  = 1;</script>
            {% endif %}
            {% if gpu_data['textureCompressionETC2'] == "True" %}
                <script> document.getElementById("textureCompressionETC2").selectedIndex  = 0;</script>
            {% else %}
                <script> document.getElementById("textureCompressionETC2").selectedIndex  = 1;</script>
            {% endif %}
            {% if gpu_data['vertexPipelineStoresAndAtomics'] == "True" %}
                <script> document.getElementById("vertexPipelineStoresAndAtomics").selectedIndex  = 0;</script>
            {% else %}
                <script> document.getElementById("vertexPipelineStoresAndAtomics").selectedIndex  = 1;</script>
            {% endif %}
        {% elif error_message %}
		Error Message: {{ error_message }}
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>