<!doctype html>
<html>

<head>
    <title>Edit GPU</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1>Welcome to GPU Database</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" class="btn btn-danger" hidden="true"><i class="fa fa-power-off"></i> Sign out</button>
    <div id="login-info" hidden="true">
		<hr>
		{% if session['name'] %}
            <div align="center">
                <table class="table" style="width: 40%;">
                    <tr class="table-success">
                        <td>Name: {{ session['name'] }}</td>
                        <td colspan="2">Email: {{ session['email'] }}</td>
                    </tr>
                    <tr>
                        <td>
                            <form class="form" action="/add_gpu" method="post">
                                <button type="submit" class="btn btn-warning form-control" name="add_gpu"><i class="fa fa-plus"></i> ADD GPU </button>
                            </form>
                        </td>
                        <td>
                            <form class="form" action="/compare" method="post">
                                <button type="submit" class="btn btn-warning form-control"> <i class="fa fa-exchange"></i> Compare 2 GPU's</button>
                            </form>
                        </td>
                        <td>
                            <form action="/" method="GET">
                                <button type="submit" class="btn btn-warning"><i class="fa fa-home"></i> Home</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
            <div align="center">
                <h3>Edit GPU</h3>
            </div>
            <div align="center">
                <table class="table table-sm" style="width: 40%;">
                    <tr>
                        <th>Property</th>
                        <th>Details</th>
                    </tr>
                    <form action="/update_details" method="POST">
                        <input type="hidden" name="old_name" value="{{gpu_data['name'] }}">
                        <tr>
                            <td>Name: </td>
                            <td><input type="text" class="form-control" required name="name" value="{{ gpu_data['name'] }}"></td>
                        </tr>
                        <tr>
                            <td>Manufacturer: </td>
                            <td><input type="text" class="form-control" required name="manufacturer" value="{{ gpu_data['manufacturer'] }}"></td>
                        </tr>
                        <tr>
                            <td>Issue Date:</td>
                            <td><input type="date" class="form-control" required name="issue_date" value="{{ gpu_data['issued_date'] }}"></td>
                        </tr>
                        <tr>
                            <td>Geometry Shader:</td>
                            <td>
                                <select class="form-control" name="geometryShader" id="geometryShader">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Tesselation Shader:</td>
                            <td>
                                <select class="form-control" name="tesselationShader" id="tesselationShader">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>ShaderInt16:</td>
                            <td>
                                <select class="form-control" name="shaderInt16" id="shaderInt16">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Sparse Binding:</td>
                            <td>
                                <select class="form-control" name="sparseBinding" id="sparseBinding">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Texture Compression ETC2:</td>
                            <td>
                                <select class="form-control" name="textureCompressionETC2" id="textureCompressionETC2">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Vertex Pipeline Stores And Atomics:</td>
                            <td>
                                <select class="form-control" name="vertexPipelineStoresAndAtomics" id="vertexPipelineStoresAndAtomics">
                                    <option selected>True</option>
                                    <option>False</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-info form-control"><i class="fa fa-edit"></i> Update</button>
                            </td>
                        </tr>
                    </form>
                </table>
                {% if gpu_data['geometryShader'] %}
                    <script> document.getElementById("geometryShader").selectedIndex  = 0;</script>
                {% else %}
                    <script> document.getElementById("geometryShader").selectedIndex  = 1;</script>
                {% endif %}
                {% if gpu_data['tesselationShader'] %}
                    <script> document.getElementById("tesselationShader").selectedIndex  = 0;</script>
                {% else %}
                    <script> document.getElementById("tesselationShader").selectedIndex  = 1;</script>
                {% endif %}
                {% if gpu_data['shaderInt16'] %}
                    <script> document.getElementById("shaderInt16").selectedIndex  = 0;</script>
                {% else %}
                    <script> document.getElementById("shaderInt16").selectedIndex  = 1;</script>
                {% endif %}
                {% if gpu_data['sparseBinding'] %}
                    <script> document.getElementById("sparseBinding").selectedIndex  = 0;</script>
                {% else %}
                    <script> document.getElementById("sparseBinding").selectedIndex  = 1;</script>
                {% endif %}
                {% if gpu_data['textureCompressionETC2']  %}
                    <script> document.getElementById("textureCompressionETC2").selectedIndex  = 0;</script>
                {% else %}
                    <script> document.getElementById("textureCompressionETC2").selectedIndex  = 1;</script>
                {% endif %}
                {% if gpu_data['vertexPipelineStoresAndAtomics'] %}
                    <script> document.getElementById("vertexPipelineStoresAndAtomics").selectedIndex  = 0;</script>
                {% else %}
                    <script> document.getElementById("vertexPipelineStoresAndAtomics").selectedIndex  = 1;</script>
                {% endif %}
            </div>
        {% elif error_message %}
		Error Message: {{ error_message }}
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>