<!doctype html>
<html>

<head>
    <title>Welcome to GPU Database</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
	<script>
		function change_checkboxes(i,j,k){
			i1 = document.getElementById(i);
			j1 = document.getElementById(j);
			if(i1.checked == true && j1.checked==false){
				j1.checked = false;
				document.getElementById(k).value = "True";
			}else if(j1.checked == true && i1.checked==false){
				i1.checked = false;
				document.getElementById(k).value = "False";
			}
			if(i1.checked == false && j1.checked == false || i1.checked==true && j1.checked == true){
				document.getElementById(k).value = "";
			}
			document.getElementById('add_filters').submit();
		}
	</script>
</head>

<body>
    <h1>Welcome to GPU Database</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
		<hr>
		{% if user_data %}
		<div align="center">
			<table class="table" style="width: 40%;">
				<tr class="table-success">
					<td>Name: {{ user_data['name'] }}</td>
					<td>Email: {{ user_data['email'] }}</td>
				</tr>
				<tr>
					<td>
						<form class="form" action="/add_gpu" method="post">
							<input type="submit" class="btn btn-warning form-control" name="add_gpu" value="ADD GPU"/>
						</form>
					</td>
					<td>
						<form class="form" action="/compare" method="post">
							<input type="submit" class="btn btn-warning form-control" value="Compare 2 GPU's"/>
						</form>
					</td>
				</tr>
			</table>
		</div>
		<hr>
		{% if GPU_list != None %}
		<form action="/add_filters" id="add_filters" method="POST">
			<input type="hidden" id="geometryShader" name="geometryShader" value="{{ filters[0] }}">
			<input type="hidden" id="tesselationShader" name="tesselationShader" value="{{ filters[1] }}">
			<input type="hidden" id="shaderInt16" name="shaderInt16" value="{{ filters[2] }}">
			<input type="hidden" id="sparseBinding" name="sparseBinding" value="{{ filters[3] }}">
			<input type="hidden" id="textureCompressionETC2" name="textureCompressionETC2" value="{{ filters[4] }}">
			<input type="hidden" id="vertexPipelineStoresAndAtomics" name="vertexPipelineStoresAndAtomics" value="{{ filters[5] }}">
		</form>
		<table class="table table-bordered table-striped">
			<tr class="align-middle">
				<td>
					Geometry Shader:<br>
					True : <input type="checkbox" id="geometryShaderTrue" onclick="change_checkboxes('geometryShaderTrue','geometryShaderFalse','geometryShader')" name="geometryShaderTrue" ><br>
					False: <input type="checkbox" id="geometryShaderFalse" onclick="change_checkboxes('geometryShaderTrue','geometryShaderFalse','geometryShader')" name="geometryShaderFalse" >
					{% if filters[0] == 'True' %}
						<script>document.getElementById('geometryShaderTrue').checked = true </script>
					{% endif %}
					{% if filters[0] == 'False' %}
						<script>document.getElementById('geometryShaderFalse').checked = true </script>
					{% endif %}
				</td>
				<td>
					Tesselation Shader:<br>
					True : <input type="checkbox" id="tesselationShaderTrue" onclick="change_checkboxes('tesselationShaderTrue','tesselationShaderFalse','tesselationShader')" name="tesselationShaderTrue"><br>
					False: <input type="checkbox" id="tesselationShaderFalse" onclick="change_checkboxes('tesselationShaderTrue','tesselationShaderFalse','tesselationShader')" name="tesselationShaderFalse">
					{% if filters[1] == 'True' %}
						<script>document.getElementById('tesselationShaderTrue').checked = true </script>
					{% endif %}
					{% if filters[1] == 'False' %}
						<script>document.getElementById('tesselationShaderFalse').checked = true </script>
					{% endif %}
				</td>
				<td>
					ShaderInt16:<br>
					True : <input type="checkbox" id="shaderInt16True" onclick="change_checkboxes('shaderInt16True','shaderInt16False','shaderInt16')" name="shaderInt16True"><br>
					False: <input type="checkbox" id="shaderInt16False" onclick="change_checkboxes('shaderInt16True','shaderInt16False','shaderInt16')" name="shaderInt16False">
					{% if filters[2] == 'True' %}
						<script>document.getElementById('shaderInt16True').checked = true </script>
					{% endif %}
					{% if filters[2] == 'False' %}
						<script>document.getElementById('shaderInt16False').checked = true </script>
					{% endif %}
				</td>
				<td>
					Sparse Binding:<br>
					True : <input type="checkbox" id="sparseBindingTrue" onclick="change_checkboxes('sparseBindingTrue','sparseBindingFalse','sparseBinding')" name="sparseBindingTrue"><br>
					False: <input type="checkbox" id="sparseBindingFalse" onclick="change_checkboxes('sparseBindingTrue','sparseBindingFalse','sparseBinding')" name="sparseBindingFalse">
					{% if filters[3] == 'True' %}
						<script>document.getElementById('sparseBindingTrue').checked = true </script>
					{% endif %}
					{% if filters[3] == 'False' %}
						<script>document.getElementById('sparseBindingFalse').checked = true </script>
					{% endif %}
				</td>
				<td>
					Texture Compression ETC2:<br>
					True : <input type="checkbox" id="textureCompressionETC2True" onclick="change_checkboxes('textureCompressionETC2True','textureCompressionETC2False','textureCompressionETC2')" name="textureCompressionETC2True"><br>
					False: <input type="checkbox" id="textureCompressionETC2False" onclick="change_checkboxes('textureCompressionETC2True','textureCompressionETC2False','textureCompressionETC2')" name="textureCompressionETC2False">
					{% if filters[4] == 'True' %}
						<script>document.getElementById('textureCompressionETC2True').checked = true </script>
					{% endif %}
					{% if filters[4] == 'False' %}
						<script>document.getElementById('textureCompressionETC2False').checked = true </script>
					{% endif %}
				</td>
				<td>
					Vertex Pipeline Stores And Atomics:<br>
					True : <input type="checkbox" id="vertexPipelineStoresAndAtomicsTrue" onclick="change_checkboxes('vertexPipelineStoresAndAtomicsTrue','vertexPipelineStoresAndAtomicsFalse','vertexPipelineStoresAndAtomics')" name="vertexPipelineStoresAndAtomicsTrue"><br>
					False: <input type="checkbox" id="vertexPipelineStoresAndAtomicsFalse" onclick="change_checkboxes('vertexPipelineStoresAndAtomicsTrue','vertexPipelineStoresAndAtomicsFalse','vertexPipelineStoresAndAtomics')" name="vertexPipelineStoresAndAtomicsFalse">
					{% if filters[5] == 'True' %}
						<script>document.getElementById('vertexPipelineStoresAndAtomicsTrue').checked = true </script>
					{% endif %}
					{% if filters[5] == 'False' %}
						<script>document.getElementById('vertexPipelineStoresAndAtomicsFalse').checked = true </script>
					{% endif %}
				</td>
				<td>
					<form action="/" method="GET">
						<input type="submit" value="Reset All Filters">
					</form>
				</td>
			</tr>
		</table>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
			<tr>
				<th>GPU Name</th>
				<th>Action</th>
			</tr>
			</thead>
			{% set i = 0 %}
			{% for gpu in GPU_list %}
				<tr>
					<td>
						<form action='/show_details' method="post" id="myform{{loop.index}}">
							<input type="hidden" name="gpu_name" value="{{ gpu['name'] }}">
							<p><a href="#" onclick="document.getElementById('myform{{loop.index}}').submit();"> {{ gpu['name'] }}</a></p>
							{% set i = i + 1 %}
						</form>
					</td>
					<td>
						<form action='edit_gpu' method="post" id="editform">
							<input type="hidden" name="gpu_name" value="{{ gpu['name'] }}">
							<input type="submit" class="btn btn-success" value="EDIT">
						</form>
					</td>			
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>No GPU found in Database</p>
		{% endif %}
		{% elif error_message %}
		<p>Error Message: {{ error_message }}</p>
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>