<!doctype html>
<html>

<head>
    <title>GPU Database</title>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="/static/scripts.js"></script>
	<script>
		function change_checkboxes(i,j,k){
			i1 = document.getElementById(i);
			j1 = document.getElementById(j);
			if(i1.checked == true && j1.checked==false){
				j1.checked = false;
				document.getElementById(k).value = "True";
			}else if(j1.checked == true && i1.checked==false){
				i1.checked = false;
				document.getElementById(k).value = "False";
			}
			if(i1.checked == false && j1.checked == false || i1.checked==true && j1.checked == true){
				document.getElementById(k).value = "";
			}
			document.getElementById('add_filters').submit();
		}
	</script>
</head>

<body>
    <h1>GPU Database</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
		{% if user_data %}
		<dl>
			<dt>Name:</dt><dd>{{ user_data['name'] }}</dd>
			<dt>Email:</dt><dd>{{ user_data['email'] }}</dd>
		</dl>
		<div>
			<form action="/add_gpu" method="post">
				<input type="submit" name="add_gpu" value="ADD GPU"/>
			</form>
		</div>
		{% if GPU_list != None %}
		<form action="/add_filters" id="add_filters" method="POST">
			<input type="text" id="geometryShader" name="geometryShader" value="{{ filters[0] }}">
			<input type="text" id="tesselationShader" name="tesselationShader" value="{{ filters[1] }}">
			<input type="text" id="shaderInt16" name="shaderInt16" value="{{ filters[2] }}">
			<input type="text" id="sparseBinding" name="sparseBinding" value="{{ filters[3] }}">
			<input type="text" id="textureCompressionETC2" name="textureCompressionETC2" value="{{ filters[4] }}">
			<input type="text" id="vertexPipelineStoresAndAtomics" name="vertexPipelineStoresAndAtomics" value="{{ filters[5] }}">
		</form>
		<table>
			<tr>
				<td>
					Geometry Shader:<br>
					True : <input type="checkbox" id="geometryShaderTrue" onclick="change_checkboxes('geometryShaderTrue','geometryShaderFalse','geometryShader')" name="geometryShaderTrue" ><br>
					False: <input type="checkbox" id="geometryShaderFalse" onclick="change_checkboxes('geometryShaderTrue','geometryShaderFalse','geometryShader')" name="geometryShaderFalse" >
					{% if filters[0] == 'True' %}
						<script>document.getElementById('geometryShaderTrue').checked = true </script>
					{% endif %}
					{% if filters[0] == 'False' %}
						<script>document.getElementById('geometryShaderFalse').checked = true </script>
					{% endif %}
				</td>
				<td>
					Tesselation Shader:<br>
					True : <input type="checkbox" id="tesselationShaderTrue" onclick="change_checkboxes('tesselationShaderTrue','tesselationShaderFalse','tesselationShader')" name="tesselationShaderTrue"><br>
					False: <input type="checkbox" id="tesselationShaderFalse" onclick="change_checkboxes('tesselationShaderTrue','tesselationShaderFalse','tesselationShader')" name="tesselationShaderFalse">
					{% if filters[1] == 'True' %}
						<script>document.getElementById('tesselationShaderTrue').checked = true </script>
					{% endif %}
					{% if filters[1] == 'False' %}
						<script>document.getElementById('tesselationShaderFalse').checked = true </script>
					{% endif %}
				</td>
				<td>
					ShaderInt16:<br>
					True : <input type="checkbox" id="shaderInt16True" onclick="change_checkboxes('shaderInt16True','shaderInt16False','shaderInt16')" name="shaderInt16True"><br>
					False: <input type="checkbox" id="shaderInt16False" onclick="change_checkboxes('shaderInt16True','shaderInt16False','shaderInt16')" name="shaderInt16False">
					{% if filters[2] == 'True' %}
						<script>document.getElementById('shaderInt16True').checked = true </script>
					{% endif %}
					{% if filters[2] == 'False' %}
						<script>document.getElementById('shaderInt16False').checked = true </script>
					{% endif %}
				</td>
				<td>
					Sparse Binding:<br>
					True : <input type="checkbox" id="sparseBindingTrue" onclick="change_checkboxes('sparseBindingTrue','sparseBindingFalse','sparseBinding')" name="sparseBindingTrue"><br>
					False: <input type="checkbox" id="sparseBindingFalse" onclick="change_checkboxes('sparseBindingTrue','sparseBindingFalse','sparseBinding')" name="sparseBindingFalse">
					{% if filters[3] == 'True' %}
						<script>document.getElementById('sparseBindingTrue').checked = true </script>
					{% endif %}
					{% if filters[3] == 'False' %}
						<script>document.getElementById('sparseBindingFalse').checked = true </script>
					{% endif %}
				</td>
				<td>
					Texture Compression ETC2:<br>
					True : <input type="checkbox" id="textureCompressionETC2True" onclick="change_checkboxes('textureCompressionETC2True','textureCompressionETC2False','textureCompressionETC2')" name="textureCompressionETC2True"><br>
					False: <input type="checkbox" id="textureCompressionETC2False" onclick="change_checkboxes('textureCompressionETC2True','textureCompressionETC2False','textureCompressionETC2')" name="textureCompressionETC2False">
					{% if filters[4] == 'True' %}
						<script>document.getElementById('textureCompressionETC2True').checked = true </script>
					{% endif %}
					{% if filters[4] == 'False' %}
						<script>document.getElementById('textureCompressionETC2False').checked = true </script>
					{% endif %}
				</td>
				<td>
					Vertex Pipeline Stores And Atomics:<br>
					True : <input type="checkbox" id="vertexPipelineStoresAndAtomicsTrue" onclick="change_checkboxes('vertexPipelineStoresAndAtomicsTrue','vertexPipelineStoresAndAtomicsFalse','vertexPipelineStoresAndAtomics')" name="vertexPipelineStoresAndAtomicsTrue"><br>
					False: <input type="checkbox" id="vertexPipelineStoresAndAtomicsFalse" onclick="change_checkboxes('vertexPipelineStoresAndAtomicsTrue','vertexPipelineStoresAndAtomicsFalse','vertexPipelineStoresAndAtomics')" name="vertexPipelineStoresAndAtomicsFalse">
					{% if filters[5] == 'True' %}
						<script>document.getElementById('vertexPipelineStoresAndAtomicsTrue').checked = true </script>
					{% endif %}
					{% if filters[5] == 'False' %}
						<script>document.getElementById('vertexPipelineStoresAndAtomicsFalse').checked = true </script>
					{% endif %}
				</td>
			</tr>
		</table>
		
		{% set i = 0 %}
			{% for gpu in GPU_list %}
			<form action='/show_details' method="post" id="myform{{loop.index}}">
				<input type="hidden" name="gpu_name" value="{{ gpu['name'] }}">
				<p><a href="#" onclick="document.getElementById('myform{{loop.index}}').submit();"> {{ gpu['name'] }}</a></p>
				{% set i = i + 1 %}
			</form>
			<form action='edit_gpu' method="post" id="editform">
				<input type="hidden" name="gpu_name" value="{{ gpu['name'] }}">
				<input type="submit" value="EDIT">
			</form>
			{% endfor %}
		{% else %}
			<p>No GPU found in Database</p>
		{% endif %}
		{% elif error_message %}
		<p>Error Message: {{ error_message }}</p>
		{% endif %}
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>